<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-loading-product-heading"
        data-cy="LoadingProductCreateUpdateHeading"
        jhiTranslate="yardManagementApp.loadingProduct.home.createOrEditLabel"
      >
        Create or edit a Loading Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.loadingProduct.units" for="field_units">Units</label>
          <input type="number" class="form-control" name="units" id="field_units" data-cy="units" formControlName="units" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.loadingProduct.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'yardManagementApp.LoadingStatus.null' | translate }}</option>
            <option *ngFor="let loadingStatus of loadingStatusValues" [value]="loadingStatus">
              {{ 'yardManagementApp.LoadingStatus.' + loadingStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.loadingProduct.product" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.loadingProduct.loading" for="field_loading">Loading</label>
          <select
            class="form-control"
            id="field_loading"
            data-cy="loading"
            name="loading"
            formControlName="loading"
            [compareWith]="compareLoading"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="loadingOption" *ngFor="let loadingOption of loadingsSharedCollection">{{ loadingOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
