<div>
  <h2 id="page-heading" data-cy="PurchaseHeading">
    <span jhiTranslate="yardManagementApp.purchase.home.title">Purchases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="yardManagementApp.purchase.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase"
        [routerLink]="['/purchase/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yardManagementApp.purchase.home.createLabel"> Create a new Purchase </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchases?.length === 0">
    <span jhiTranslate="yardManagementApp.purchase.home.notFound">No Purchases found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="purchases && purchases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="purchaseTime">
            <div class="d-flex">
              <span jhiTranslate="yardManagementApp.purchase.purchaseTime">Purchase Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceNumber">
            <div class="d-flex">
              <span jhiTranslate="yardManagementApp.purchase.invoiceNumber">Invoice Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoice.id">
            <div class="d-flex">
              <span jhiTranslate="yardManagementApp.purchase.invoice">Invoice</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase', purchase.id, 'view']">{{ purchase.id }}</a>
          </td>
          <td>{{ purchase.purchaseTime | formatMediumDatetime }}</td>
          <td>{{ purchase.invoiceNumber }}</td>
          <td>
            <div *ngIf="purchase.invoice">
              <a [routerLink]="['/invoice', purchase.invoice.id, 'view']">{{ purchase.invoice.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase', purchase.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase', purchase.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
