<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sales-product-heading"
        data-cy="SalesProductCreateUpdateHeading"
        jhiTranslate="yardManagementApp.salesProduct.home.createOrEditLabel"
      >
        Create or edit a Sales Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.salesProduct.units" for="field_units">Units</label>
          <input type="number" class="form-control" name="units" id="field_units" data-cy="units" formControlName="units" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.salesProduct.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.salesProduct.gst" for="field_gst">Gst</label>
          <input type="number" class="form-control" name="gst" id="field_gst" data-cy="gst" formControlName="gst" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.salesProduct.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.salesProduct.sales" for="field_sales">Sales</label>
          <select class="form-control" id="field_sales" data-cy="sales" name="sales" formControlName="sales" [compareWith]="compareSales">
            <option [ngValue]="null"></option>
            <option [ngValue]="salesOption" *ngFor="let salesOption of salesSharedCollection">{{ salesOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
