<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading" jhiTranslate="yardManagementApp.invoice.home.createOrEditLabel">
        Create or edit a Invoice
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.invoice.invoiceNumber" for="field_invoiceNumber">Invoice Number</label>
          <input
            type="text"
            class="form-control"
            name="invoiceNumber"
            id="field_invoiceNumber"
            data-cy="invoiceNumber"
            formControlName="invoiceNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.invoice.companyInvoiceNumber" for="field_companyInvoiceNumber"
            >Company Invoice Number</label
          >
          <input
            type="text"
            class="form-control"
            name="companyInvoiceNumber"
            id="field_companyInvoiceNumber"
            data-cy="companyInvoiceNumber"
            formControlName="companyInvoiceNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.invoice.gst" for="field_gst">Gst</label>
          <input type="number" class="form-control" name="gst" id="field_gst" data-cy="gst" formControlName="gst" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.invoice.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="yardManagementApp.invoice.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'yardManagementApp.InvoiceStatus.null' | translate }}</option>
            <option *ngFor="let invoiceStatus of invoiceStatusValues" [value]="invoiceStatus">
              {{ 'yardManagementApp.InvoiceStatus.' + invoiceStatus | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
