<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="loading">
      <h2 data-cy="loadingDetailsHeading">
        <span jhiTranslate="yardManagementApp.loading.detail.title">Loading</span>
        <span>{{ loading.yard }}</span>
        <span>{{ loading.vehicleNumber }}</span>
        <span>{{ loading.loadingTime | formatMediumDatetime }}</span>
        <span jhiTranslate="{{ 'yardManagementApp.LoadingStatus.' + loading.status }}">{{ loading.status }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <span>Add Product and show list</span>
        <!-- <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ loading.id }}</span>
        </dd>
        <dt><span jhiTranslate="yardManagementApp.loading.yard">Yard</span></dt>
        <dd>
          <span>{{ loading.yard }}</span>
        </dd>
        <dt><span jhiTranslate="yardManagementApp.loading.vehicleNumber">Vehicle Number</span></dt>
        <dd>
          <span>{{ loading.vehicleNumber }}</span>
        </dd>
        <dt><span jhiTranslate="yardManagementApp.loading.loadingTime">Loading Time</span></dt>
        <dd>
          <span>{{ loading.loadingTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="yardManagementApp.loadingProduct.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'yardManagementApp.LoadingStatus.' + loading.status }}">{{ loading.status }}</span>
        </dd> -->
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/loading', loading.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
